.ResidentsInputContainer {
  max-width: 450px;
  h3 {
    margin-bottom: 10px;
  }
  &__fields {
    margin-top: 15px;
    .ResidentNameField:not(:last-of-type) {
      margin-bottom: 5px;
    }
    .MuiTextField-root {
      flex-grow: 1;
    }
  }
}