@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:wght@600&display=swap');

// for big headings, primary form controls
$primary-color: #FFA5B6;
// secondary form controls;
$secondary-color: #B2DBD9;
$text-important-color: #779A7E;
$text-heading-color: #13928C;

$disabled-color: #D3D3D3;
$navbar-color: #fae2a5;
$tooltip-color: rgba(119, 154, 126, 0.8);