@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:wght@600&family=Quicksand:wght@400;700&display=swap');

// for big headings, primary form controls
$primary-color: #FF8199;
// secondary form controls;
$secondary-color: #B2DBD9;
$text-note-color: #779A7E;
$text-important-color: #3D5A43;
$text-heading-color: #13928C;
$disabled-color: #D3D3D3;
$disabled-background-color: #EEEEF1;

$nav-color: #FAE2A5;
$tooltip-color: rgba(119, 154, 126, 0.8);
$chance-color: rgba(119, 154, 126, 0.3);
$slider-color: #C0BFBD;
$slider-track-color: #FFBAC7;