@import './base';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: $body-text-color;
}

body {
  font-family: 'Nunito',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg.png");
  background-repeat: repeat center center fixed;
  font-size: 14px;
  line-height: 1.25;
}

.App {
  margin: 0 auto;
  max-width: 990px;
  background-color: white;
  &__content {
    padding: 30px 30px 40px;
  }
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $primary-color;
  font-size: 44px;
  line-height: 1.5;
  margin-bottom: 20px;
}

h2 {
  font-weight: 600;
  color: $text-note-color;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h3 {
  font-weight: 700;
  color: $text-heading-color;
  line-height: 1.33;
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

hr {
  margin-bottom: 40px;
}

.text-note {
  color: $text-note-color;
  font-size: 14px;
  font-style: italic;
}

.minus-button, .plus-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: white;
  &.disabled {
    background-color: $disabled-color;
    cursor: default;
  }
}

.minus-button {
  background-color: $secondary-color;
}

.plus-button {
  background-color: $primary-color;
}

.MuiOutlinedInput {
  &-root {
    fieldset {
      border-color: $disabled-color !important;
    }
    &:hover, &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $primary-color !important;
      }
      .MuiSvgIcon-root {
        color: $primary-color !important;
      }
    }
  }
  &-input {
    height: 40px !important;
    box-sizing: border-box !important;
    padding-top: 10.5px !important;
    padding-bottom: 10.5px !important;
    font-family: 'Nunito',  sans-serif !important;
    font-size: 14px !important;
  }
}

.MuiMenuItem-root {
  font-family: 'Nunito',  sans-serif !important;
  font-size: 14px !important;
}

.MuiSlider-root {
  .MuiSlider-rail {
    height: 5px;
    border-radius: 5px;
    background-color: $slider-color;
  }
  .MuiSlider-track {
    height: 5px;
    border-radius: 5px;
    background-color: $slider-track-color;
  }
  .MuiSlider-thumb {
    width: 24px;
    height: 24px;
    margin-top: -9px;
    margin-left: -12px;
    background-color: transparent;
    transition: none !important;
    &:hover, &:focus {
      box-shadow: none !important;
    }
    svg path {
      fill: $primary-color !important;
    }
  }
}