@import './base';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg.png");
  background-repeat: repeat center center fixed;
  font-size: 14px;
  line-height: 1.25;
}

.App {
  margin: 0 auto;
  max-width: 990px;
  background-color: white;
  &__content {
    padding: 30px;
  }
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: $primary-color;
  font-size: 44px;
  line-height: 1.5;
  margin-bottom: 20px;
}

h2 {
  font-weight: 600;
  color: $text-important-color;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h3 {
  font-weight: 700;
  color: $text-heading-color;
  line-height: 1.33;
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.text-note {
  color: $text-important-color;
  font-style: italic;
}

.minus-button, .plus-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: white;
  &.disabled {
    background-color: $disabled-color;
    cursor: default;
  }
}

.minus-button {
  background-color: $secondary-color;
}

.plus-button {
  background-color: $primary-color;
}